

/******** SASS *********************************************
  /** *    11.2a - Home Page **/
  

  .home-section {
    margin-top: 20px;

    .section-content {
      width: 100%;
      min-height: 140px; 
      background-size: 100% !important;
      background-position: center center !important;
    }

    .home-banner h2 {
          color: #FFFFFF;
          position: absolute;
          mix-blend-mode: overlay;
    }

    #home-banner-1 {
      background: url(./assets/banner-1.jpg), 100%, center center;
      h2 {
          text-align: right;
          right: 8.88%;
          bottom: 20%;
      }
    }
    #home-banner-2 {
      background: url(./assets/banner-2.jpg), #2F24DB;
      h2 {
          text-align: center;;
          bottom: 33%;
          width: 100%;
      }
    }

    #home-buttons ul {
      list-style: none;
      text-align: center;
      :last-child {
        margin-bottom: 0;
      }
      li {
        display: inline-block;
        margin-bottom: 20px;
      }
    }

  }

  article {
    header {
      visibility: hidden;
      font-size: 0px;
      height: 0px;
    }
    .entry-content {
      min-width: 300px;
      max-width: 680px;
    }
  }